@font-face {
    font-family: 'iranyekanwebregular';
    src: url('../../tools/font-src/iranyekanwebregular.woff');
}

header {
    font-family: iranyekanwebregular;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
    padding: 27px 7px;
    transition: all 0.3s ease;
}

.headerUl {
    list-style: none;
    display: flex;
    align-items: center;
}

.headerUl li {
    margin: 0 15px;
}

.headerUl li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.navbarDownArrow {
    width: 8px;
    margin-right: 5px;
}

.navbarActive {
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.navbarActive:hover {
    background-color: #fbf6d9;
}

.navbarLogo {
    margin: 0 10px;
}

/* -----------------------------------------hamburger menu------------------------------------ */

.hamburgerIcon {
    display: none;
    cursor: pointer;
}

.hamburgerMenuFalse {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
}
.hamburgerMenuTrue {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(0%);
    transition: all 0.2s ease-in-out;
}

.crossIcon {
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: flex-end;
}

.crossIcon img {
    width: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.hamburgerMenuItems ul li {
    list-style: none;
    margin: 10px 0;
}

.hamburgerMenuItems ul div {
    width: 85%;
    height: 1px;
    background-color: #eee;
}

.hamburgerMenuItems ul li a {
    text-decoration: none;
    color: black;
}

.hamburgerMenuMoreItem {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    padding: 20px 40px;
}

.hamburgerMenuMoreItem a {
    text-decoration: none;
    color: #28457b;
    margin-left: 5px;
}

.hamburgerMenuMoreItem img {
    width: 20px;
}

/* -----------------------------------------more products drop down------------------------------------ */

.moreProducts {
    position: relative;
}

.moreProductsDropDownFalse {
    width: 372px;
    display: flex;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    border-top: 5px solid yellow;
    position: absolute;
    right: -200px;
    top: 23px;
    display: none;
}
.moreProductsDropDownTrue {
    width: 372px;
    display: flex;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    border-top: 5px solid yellow;
    padding: 7px 7px 7px 20px;
    position: absolute;
    right: -175px;
    top: 23px;
    animation: fadeInDown 0.5s;
}

.moreProductsDropDownTrue a {
    display: block;
    padding: 5px 10px;
}

.moreProductsDropDownTrue a p:first-child {
    font-size: 0.9rem;
}

.moreProductsDropDownTrue a p:last-child {
    font-size: 0.7rem;
    margin-top: -5px;
}

.moreProductsDropDownTrue a:hover {
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 10px;
}



/* -----------------------------------------more details drop down------------------------------------ */

.moreDetails {
    position: relative;
}

.moreDetailsDropDownFalse {
    position: absolute;
    width: 140px;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    border-top: 5px solid yellow;
    list-style: none;
    padding: 20px 6px;
    left: -55px;
    display: none;
}

.moreDetailsDropDownTrue {
    position: absolute;
    width: 140px;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    border-top: 5px solid yellow;
    list-style: none;
    padding: 20px 6px;
    left: -55px;
    animation: fadeInDown 0.5s;
}

.moreDetailsDropDownTrue li {
    margin-bottom: 10px;
}

/* -----------------------------------------animations------------------------------------ */

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* -----------------------------------------media query------------------------------------ */


@media (max-width: 1200px) {
    header {
        width: 940px;
    }
}

@media (max-width: 990px) {
    header {
        width: auto;
        padding: 20px 60px;
    }
    .navbarActive {
        display: none;
    }
    .headerUl li {
        margin: 0 10px;
    }
    .navbarLogo {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .headerUl {
        display: none;
    }
    header {
        width: auto;
        padding: 20px;
    }
    .hamburgerIcon {
        display: block;
    }
}